* {
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

body {
    background-color: #D6E6F2;
}

/*Account buttons styling*/

#logBtnContainer {
   background-color: white;
   height: 100px;
   width: 75px;
}

.logBtns {
    background-color: black;
    color: white;
    height: 20px;
    width: 75px;
    border: none;
    border-radius: 5px;
}

/*Navigation styling*/

#navContainer {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: #303841;
}

#navList {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5;
    padding: 0;
}

.navItem {
    width: 75px;
    height: 75px;
    background-color: #F5F5F5;
    color: #2f3c4f;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    line-height: 75px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

/*User profile styling*/

#profileContainer {
    background-color: beige;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.profileInfo {
    color: black;
    font-size: 1.5rem;
}


/*Settings page styling*/

#settingContainer {
    width: 80%;
    height: 500px;
    background-color: #303841;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border-radius: 5px;
    margin: 100px auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#settingTitle {
    color: white;
    font-size: 2rem;
    margin: auto;
}

.settingSelectors {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #303841;
    color: white;
    margin: auto;
    font-size: 1.1rem;
}

#languageSelect {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #303841;
    color: white;
    margin: auto;
    font-size: 1.1rem;
}

#themeSelect {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #303841;
    color: white;
    margin: auto;
    font-size: 1.1rem;
}

#settingsLogContainer {
    width: 70%;
    height: 80%;
    background-color: #F5F5F5;
    margin: auto;
    padding: 0;
    border-radius: 5px;
}

.setLogBtns {
    min-width: 40%;
    height: 50%;
    background-color: #303841;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 18px 10px 0 10px;
}

/* Body part selection page */

#mainContentContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 5fr;
    margin: auto;
}

#homeTitle {
    color: #303841;
    font-size: 1.5rem;
    margin: auto;
}

#bodyPartSelector {
    width: 90%;
    margin: auto;
}

.chestBtns {
    width: 100px;
    height: 100px;
    background-color: #303841;
}
